* {
  box-sizing: border-box;
}

body {
  background-color: #f2f5f9;
  font-family: 'Lato', sans-serif;
}

.search {
  text-align: center;
}

#searchBox {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  border-radius: 4px;
  border-color: lightgrey;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}

.image {
  margin: 2%;
}

.abigimage-img {
  max-width: 65%;
  max-height: 70%;
  margin: 1% auto 1%;
}

.abigimage-bottom {
  text-align: center;
  margin: 0 auto;
  background: none;
}

.abigimage-bottomBox {
  bottom: 11%;
}


@media (min-width: 320px) {

  .search {
    margin: 4% auto;
  }

  #searchBox {
    width: 40%;
  }

  .gallery {
    max-width: 440px;
  }


}

@media (min-width: 720px) {

  .search {
    margin: 2.5% auto;
  }

  #searchBox {
    width: 20%;
  }


  .gallery {
    margin: 0 auto;
    min-width: 680px;
    max-width: 1000px;
  }

  .image {
    width: 200px;
  }

  .abigimage-bottom {
    width: 600px;
  }




}
